<!DOCTYPE html>
<html>
  <head>
    <title>InLaymanCode</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css"/>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">In_Layman_Code</a>
        </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/posts">posts</a></li>
          <li><a href="/posts/new">contribute</a></li>
          <li><a href="/articles">tech_crunch</a></li>
          <li><a href="#">has_many_ideas</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to "signout", "/signout"%></li>
          <%else%>
            <li><%= link_to "sign in with GitHub", "/auth/github"%></li>
          <%end%>
        </ul>
      </div>
    </div>
    </nav>
    <div class="fh5co-blog-style-1">
        <div class="container">
          <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="fh5co-heading">In_Layman_Code</h2>
              <p>Computer Science in Layman's Terms</p>
            </div>
          </div>
        </div>
    </div>
    <%= yield %>


    <footer class="panel ">
      <div class=" panel-body row">
        <div class="col-lg-12">
          <ul class=" list-unstyled">
            <li class="pull-right"><a href="#top">Back to top</a></li>  
          </ul>
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/morganlkestner/in_layman_code/">GitHub</a> |
              <a href="#">FAQ</a> |
              Tech Crunch News powered by <a href="https://newsapi.org/">NewsAPI</a>.
            </li>
            <li>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>.Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.
            </li>
            <li> 
            All rights reserved © 2016 In Layman Code | Morgan Lee Kestner 
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>


